@import 'leaflet/dist/leaflet.css';
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

:global(#app),
:global([data-sveltekit-preload-data]) {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
